# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/stockpile?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/stockpile?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-using-openssl-rand-base64-32"

# App
NODE_ENV="development"